* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* #region Task 1 */
#categories {
  margin: 0 auto;
  max-width: 400px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  li.item {
    padding: 16px;
    background: #f6f6fe;
    border-radius: 8px;
    h2 {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 133%;
      letter-spacing: 0.04em;
      color: #2e2f42;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        padding: 8px 16px;
        width: 360px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #2e2f42;
      }
    }
  }
}
/* #endregion */

/* #region Task 2 */
.gallery {
  margin: 0 auto;
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.gallery > li {
  width: calc((100% - 48px) / 3);
}
.gallery > li > img {
  display: block;
  width: 100%;
  min-height: 300px;
}
/* #endregion */

/* #region Task 3 */
input {
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 2px solid #808080;
}
h1 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* #endregion */

/* #region Task 4 */

.login-form {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;

    input {
      border: 1px solid #808080;
      border-radius: 4px;
      width: 360px;
      height: 40px;
    }
  }
  button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background-color: #4e75ff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
  }
  button:active {
    background-color: #3a5edc;
  }
}

/* #endregion */

/* #region Task 5 */
.widget {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background-color: #4e75ff;
    color: #ffffff;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  button:active {
    background-color: #3a5edc;
  }
}
/* #endregion */
